body
{
	margin:0;
	padding:0;
background: linear-gradient(to right,#000000,#a55c1b);
	}


section
{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
}


.snow1
{
	background:url(images/snow.png);
	background-repeat:repeat;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	animation:animateOne 13s infinite linear;
	background-size: 300px;

}

.snow2
{
	background:url(images/snow.png);
	background-repeat:repeat;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	animation:animatetwo 15s infinite linear;
	background-size: 400px;

}


@keyframes animateOne
{
	0%
	{
		background-position: 0px 0px
	}

	100%
	{
		background-position: 100px 650px
	}
}

@keyframes animatetwo
{
	0%
	{
		background-position: 0px 0px
	}

	100%
	{
		background-position: 100px 450px
	}
}

.content {
  justify-content: center;
  width: 100%;
  top: 20%;
  right: -80%;
  z-index: 1;
  position: absolute;
}
.content p{
  font-size: 30px;
  color: #fff;
  margin-left: 40px;

  /* background: linear-gradient(to right,#240b36,#c31432); */
}
#icon{
  width:130px;
cursor: pointer;
}
